[defaults]
inventory              = inventory/
roles_path             = roles/
retry_files_enabled    = False
display_skipped_hosts  = False
deprecation_warnings   = False
interpreter_python     = auto_silent

force_color            = True
callbacks_enabled      = profile_tasks, timer
callback_result_format = yaml
display_failed_stderr  = True
nocows                 = True
